<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="browser" value="Firefox"/>
    <add key="portal" value="http://portal/v5.03/"/>
    <add key="username" value="gedikov"/>
    <add key="password" value="blabla"/>
    <add key="workstation" value="testws"/>
    <add key="stockLocationName" value="JGNOLSL"/>
    <add key="stockLocationDescription" value="JGNOLSL"/>
    <add key="locationCode" value="JG01"/>
    <add key="companyCode" value="3303"/>
    <add key="companyName" value="Blamburlam"/>
    <add key="siteCode" value="JG"/>
    <add key="operatorInfo" value="Administrator"/>
    <add key="locationFrom" value="JG01 Test Note Loc [NOR]"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <!--<add name="WebPortalConnectionString" connectionString="Data Source=portal;Initial Catalog=Edsson_WebPortal_v5.03;Integrated Security=True;Connection Timeout=60;" providerName="System.Data.SqlClient" /> -->
    <add name="WebPortalConnectionString" connectionString="Data Source=gedikov;Initial Catalog=v5.03;Integrated Security=True;Connection Timeout=60;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceFeedingsSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://portal/v5.03/WebServiceFeedings.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceFeedingsSoap" contract="WebServiceFeedings.WebServiceFeedingsSoap" name="WebServiceFeedingsSoap"/>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Common" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Archiving" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.BaseData" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Jobs" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Replication" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Ordering" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Feedings" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Reconciliation" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Coin" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Security" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Contracts" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Common.UI" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Assets" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.43339" newVersion="5.3.0.43339"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Localization" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.43339" newVersion="5.3.0.43339"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Routes" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.CashCenter.NumeronWcfClient" publicKeyToken="ce567d5877e2195c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.43339" newVersion="5.3.0.43339"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.CashCenter" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.3179" newVersion="2.1.0.3179"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Billing" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Sync" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cwc.Transport" publicKeyToken="22a5017f9422befd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.45807" newVersion="5.3.0.45807"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.assert" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.3179" newVersion="2.1.0.3179"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
