<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  
  
  <appSettings>
    <add key="xunit.diagnosticMessages" value="true" />
    <add key="xunit.xunit.longRunningTestSeconds" value="15" />
    <add key="browser" value="Firefox" />
    <add key="portal" value="http://portal/v5.03/" />
    <add key="username" value="gedikov" />
    <add key="password" value="blabla" />
    <add key="workstation" value="testws" />
    <add key="stockLocationName" value="JGNOLSL" />
    <add key="stockLocationDescription" value="JGNOLSL" />
    <add key="locationCode" value="JG01" />
    <add key="companyCode" value="3303" />
    <add key="companyName" value="Blamburlam" />
    <add key="siteCode" value="JG" />
    <add key="operatorInfo" value="Administrator" />
    <add key="locationFrom" value="JG01 Test Note Loc [NOR]" />
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow></configuration>
