<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Cwc.CashCenter.Mapper" type="System.Configuration.NameValueSectionHandler" />
    <section name="Cwc.CashPoint.Services" type="System.Configuration.NameValueSectionHandler" />
    <section name="Cwc.Coin.EOMInterface" type="System.Configuration.NameValueSectionHandler" />
    <section name="Cwc.Feedings.Services" type="System.Configuration.NameValueSectionHandler" />
    <section name="Cwc.Ordering.CallSyncMapper" type="System.Configuration.NameValueSectionHandler" />
    <section name="Cwc.PriceLevelSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="Cwc.Replication.Services" type="System.Configuration.NameValueSectionHandler" />
    <section name="Cwc.Sync.SyncActions" type="System.Configuration.NameValueSectionHandler" />
    <section name="Cwc.Sync.SyncMappers" type="System.Configuration.NameValueSectionHandler" />
    <section name="Cwc.Sync.SyncNameMappers" type="System.Configuration.NameValueSectionHandler" />
    <section name="Cwc.Sync.ExportMappings" type="System.Configuration.NameValueSectionHandler" />
    <section name="Cwc.Transport.Mapper" type="System.Configuration.NameValueSectionHandler" />
    <section name="Cwc.CallExport.Mapper" type="System.Configuration.NameValueSectionHandler" />
    <section name="Cwc.CallManagement.Mapper" type="System.Configuration.NameValueSectionHandler" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />    
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  <appSettings>
    <add key="xunit.diagnosticMessages" value="true" />
    <add key="xunit.xunit.longRunningTestSeconds" value="15" />    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ResourceTransportOrderService" value="Cwc.Transport.Services.Impl.ResourceTransportOrderService, Cwc.Transport" />
    <add key="ResourceTransportOrderProductService" value="Cwc.Transport.Services.Impl.ResourceTransportOrderProductService, Cwc.Transport" />
    <add key="ResourceTransportOrderServiceSyncService" value="Cwc.Transport.Services.Impl.ResourceTransportOrderServService, Cwc.Transport" />
    <add key="ResourceCitProcessingHistoryService" value="Cwc.Transport.Services.Impl.ResourceCitProcessingHistoryService, Cwc.Transport" />
    <add key="ResourceCitProcessingHistoryExceptionService" value="Cwc.Transport.Services.Impl.ResourceCitProcessingHistoryExceptionService, Cwc.Transport" />
    <add key="ResourceOrderCitAllocationLogService" value="Cwc.Transport.Services.Impl.ResourceOrderCitAllocationLogService, Cwc.Transport" />
    <add key="ResourceOutboundService" value="Cwc.CashCenter.OutboundServices.ResourceOutboundService.ResourceOutboundService, Cwc.CashCenter" />
    <add key="ResourceInboundService" value="Cwc.CashCenter.InboundServices.ResourceInboundService.ResourceInboundService, Cwc.CashCenter" />
    <add key="ResourceStockOrderService" value="Cwc.CashCenter.Services.StockOrderManagement.ResourceStockOrderService, Cwc.CashCenter" />
    <add key="SmtpServer" value="127.0.0.1" />
    <add key="AdminEmail" value="noreply@edsson.com" />
    <add key="BillingConfigurationFolder" value="C:\TFS\Test\v5.03\CWC.AutoTests\bin\Debug\App_Data" />
        <add key="PrefixCallNumber" value="C" />
  </appSettings>
  <connectionStrings>
    <add name="WebPortalConnectionString" connectionString="Data Source=(local);Initial Catalog=v5.03_HQ;Integrated Security=True;Connection Timeout=60;" providerName="System.Data.SqlClient" />
    <add name="LocalWebPortalConnectionString" connectionString="Data Source=(local);Initial Catalog=v5.03;Integrated Security=True;Connection Timeout=60;" providerName="System.Data.SqlClient" />
    <add name="ModelContext" connectionString="metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=v5.03_HQ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <Cwc.Coin.EOMInterface>
    <add key="EOMExportService" value="Cwc.Coin.EOMInterfaceService, Cwc.Coin" />
  </Cwc.Coin.EOMInterface>
  <Cwc.Replication.Services>
    <add key="ReplicationService" value="Cwc.Replication.ReplicationService, Cwc.Replication" />
  </Cwc.Replication.Services>
  <Cwc.Sync.SyncActions>
    <add key="ServiceOrder" value="Cwc.Ordering.Sync.ServiceOrderSyncAction, Cwc.Ordering" />
  </Cwc.Sync.SyncActions>
  <Cwc.Sync.SyncMappers>
    <add key="Kunden" value="Cwc.Sync.DefaultSyncMapper, Cwc.Sync" />
    <add key="KundenStandorte" value="Cwc.Sync.DefaultSyncMapper, Cwc.Sync" />
    <add key="cashlogistikusers" value="Cwc.Security.CashLogistikUsersSyncMapper, Cwc.Security" />
    <add key="ServiceOrderAFT" value="Cwc.Ordering.Sync.ServiceOrderAFTSyncMapper, Cwc.Ordering" />
    <add key="locationCL" value="Cwc.Sync.LocationCLSyncMapper, Cwc.Sync" />
    <add key="WP_Customer_Service" value="Cwc.Sync.CustomerServiceCLSyncMapper, Cwc.Sync" />
    <add key="WP_OrderingSettings_CL" value="Cwc.Sync.OrderingSettingsCLSyncMapper, Cwc.Sync" />
    <add key="ServiceOrderUpdate" value="Cwc.Ordering.Sync.ServiceOrderUpdateSyncMapper, Cwc.Ordering" />
    <add key="WP_Resource_SM" value="Cwc.Sync.ResourceSyncMapper, Cwc.Sync" />
    <add key="loc_serv" value="Cwc.Sync.DestinationLocationSyncMapper, Cwc.Sync" />
    <add key="GDNMultiShipmentOrders" value="Cwc.Ordering.Sync.GDNMultiShipmentOrdersSyncMapper, Cwc.Ordering" />
    <add key="ServiceOrder" value="Cwc.Ordering.Sync.ServiceOrderSyncMapper, Cwc.Ordering" />
    <add key="branch" value="Cwc.BaseData.Classes.Sync.BranchSyncMapper, Cwc.BaseData" />
    <add key="WP_Consignation" value="Cwc.Ordering.Sync.ConsignationSyncMapper, Cwc.Ordering" />
    <add key="SOProduct" value="Cwc.Ordering.Sync.SOProductSyncMapper, Cwc.Ordering" />
    <add key="ContactPerson" value="Cwc.BaseData.Sync.ContactPersonSyncMapper, Cwc.BaseData" />
    <add key="customer" value="Cwc.BaseData.Sync.CustomerSyncMapper, Cwc.BaseData" />
    <add key="location" value="Cwc.BaseData.Sync.LocationSyncMapper, Cwc.BaseData" />
    <add key="his_pack" value="Cwc.BaseData.Sync.HisPackSyncMapper, Cwc.BaseData" />
    <add key="employee" value="Cwc.BaseData.Sync.EmployeeSyncMapper, Cwc.BaseData" />
    <add key="WP_BaseData_Automate" value="Cwc.BaseData.Sync.AutomateSyncMapper, Cwc.BaseData" />
    <add key="INGserviceorder" value="Cwc.Ordering.Sync.ServiceOrderINGSyncMapper, Cwc.Ordering" />
    <add key="INGsoproduct" value="Cwc.Ordering.Sync.SOProductINGSyncMapper, Cwc.Ordering" />
    <add key="INGsoline" value="Cwc.Billing.SOLineINGSyncMapper, Cwc.Billing" />
    <add key="VisitReceipt" value="Cwc.BaseData.VisitReceiptSyncMapper, Cwc.BaseData" />
    <add key="loc_serv" value="Cwc.BaseData.Sync.LocationServiceSyncMapper, Cwc.BaseData" />
    <add key="SOLine" value="Cwc.Ordering.Sync.ServiceOrderLineSyncMapper, Cwc.Ordering" />
  </Cwc.Sync.SyncMappers>
  <Cwc.Sync.SyncNameMappers>
    <!-- Key - regular expression matches incoming file name, Value - XSD or Sync mapper name  -->
    <add key="^ServiceOrder(?=[-.\d\s]+)" value="ServiceOrder" />
    <add key="^SEC_xml_(?=[-.\d\s]+)" value="GDNMultiShipmentOrders" />
    <add key="^SECURCASH(?=.*)" value="WP_ValidatedFeeding" />
    <add key="^NLABNA(?=.*)" value="WP_ValidatedFeeding" />
  </Cwc.Sync.SyncNameMappers>
  <Cwc.Sync.ExportMappings>
    <add key="WP_Routes_MasterRoute" value="Cwc.Routes.Classes.ExportMappings.MasterRouteExportMapping, Cwc.Routes" />
    <add key="WP_Routes_MasterRouteStop" value="Cwc.Routes.Classes.ExportMappings.MasterRouteStopExportMapping, Cwc.Routes" />
    <add key="location" value="Cwc.BaseData.Classes.ExportMappings.LocationExportMapping, Cwc.BaseData" />
    <add key="customer" value="Cwc.BaseData.Classes.ExportMappings.CustomerExportMapping, Cwc.BaseData" />
    <add key="ServiceOrder" value="Cwc.Ordering.ExportMappings.OrderExportMapping, Cwc.Ordering" />
    <add key="WP_CoinMachineType" value="Cwc.BaseData.Classes.CashPointTypeExportMapping, Cwc.BaseData" />
    <add key="loc_serv" value="Cwc.Ordering.Classes.LocationServiceExportMapping, Cwc.Ordering" />
  </Cwc.Sync.ExportMappings>
  <Cwc.Transport.Mapper>
    <add key="CitProcessSettingLinkAction" value="Cwc.Transport.Services.Impl.CitProcessSettingLinkService, Cwc.Transport" />
    <add key="CitProcessSettingAction" value="Cwc.Transport.Services.Impl.CitProcessSettingService, Cwc.Transport" />
    <add key="CitProcessSettingServicingTimeWindowAction" value="Cwc.Transport.Services.Impl.CitProcessSettingServicingTimeWindowService, Cwc.Transport" />
    <add key="CitProcessSettingServicingTimeWindowContractAction" value="Cwc.Transport.Services.Impl.CitProcessSettingServicingTimeWindowService, Cwc.Transport" />
  </Cwc.Transport.Mapper>
  <Cwc.Feedings.Services>
    <add key="WP_CM_Transaction" value="Cwc.Coin.TransactionFeedingService, Cwc.Coin" />
    <add key="WP_CM_StatusMessage" value="Cwc.Coin.StatusMessageFeedingService, Cwc.Coin" />
    <add key="WP_CM_MachineFeeding" value="Cwc.Coin.MachineFeedingService, Cwc.Coin" />
    <add key="Deposits" value="Cwc.CashCenter.CountingConfirmationWebService, Cwc.CashCenter" />
    <add key="PCrequest" value="Cwc.CashCenter.PrecreditingPreannouncementWebService, Cwc.CashCenter" />
    <add key="PackLifeCycleQuery" value="Cwc.BaseData.PackFeedingService, Cwc.BaseData" />
    <add key="MachineCountResult" value="Cwc.CashCenter.StockTransactionFeedingService, Cwc.CashCenter" />
    <add key="OrderFeeding" value="Cwc.OrderFeedings.OrderFeedingService, Cwc.OrderFeedings" />
    <add key="PackCountingQuery" value="Cwc.BaseData.PackCountingFeedingService, Cwc.BaseData" />
    <add key="ListDeposits" value="Cwc.CashCenter.DepositCheckWebService, Cwc.CashCenter" />
    <add key="GetCountResult" value="Cwc.MasterDataImport.CountingResultsWebService, Cwc.MasterDataImport" />
    <add key="GetCapturingResult" value="Cwc.MasterDataImport.CapturingResultsWebService, Cwc.MasterDataImport" />
    <add key="PackedStockContainerQuery" value="Cwc.MasterDataImport.Services.PackedStockContainerExport.PackedStockContainerExportService, Cwc.MasterDataImport" />
    <add key="CWCOrder" value="Cwc.MasterDataImport.Services.ServiceOrderImport.ServiceOrderImportService, Cwc.MasterDataImport" />
    <add key="POSTransaction" value="Cwc.CashPoint.Services.Impl.PosTransactionFeedingService, Cwc.CashPoint" />
    <add key="LocationList" value="Cwc.Contracts.Services.Impl.FeedingImportLocationService, Cwc.Contracts" />
    <add key="ServiceOrderList" value="Cwc.Ordering.Services.FeedingImportOrderService.FeedingImportOrderService, Cwc.Ordering" />
    <add key="CompanyList" value="Cwc.BaseData.Services.Impl.FeedingImportCompanyService, Cwc.BaseData" />
  </Cwc.Feedings.Services>
  <Cwc.PriceLevelSettings>
    <add key="ServiceType" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.ServiceTypeLevelValueWorker, Cwc.Contracts" />
    <add key="LocationType" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.LocationTypeLevelValueWorker, Cwc.Contracts" />
    <add key="Location" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.LocationLevelValueWorker, Cwc.Contracts" />
    <add key="Region" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.RegionLevelValueWorker, Cwc.Contracts" />
    <add key="MaterialType" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.MaterialTypeLevelValueWorker, Cwc.Contracts" />
    <add key="Material" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.MaterialLevelValueWorker, Cwc.Contracts" />
    <add key="ProductType" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.ProductTypeLevelValueWorker, Cwc.Contracts" />
    <add key="Product" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.ProductLevelValueWorker, Cwc.Contracts" />
    <add key="CallCategory" value="Cwc.CallManagement.Classes.PriceRuleLevelValueWorkers.CallCategoryLevelValueWorker, Cwc.CallManagement" />
    <add key="FailureCode" value="Cwc.CallManagement.Classes.PriceRuleLevelValueWorkers.FailureCodeLevelValueWorker, Cwc.CallManagement" />
    <add key="OrderType" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.OrderTypeLevelValueWorker, Cwc.Contracts" />
    <add key="Time" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.TimeLevelValueWorker, Cwc.Contracts" />
    <add key="Month" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.MonthLevelValueWorker, Cwc.Contracts" />
    <add key="Year" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.YearLevelValueWorker, Cwc.Contracts" />
    <add key="Day" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.DayLevelValueWorker, Cwc.Contracts" />
    <add key="ServicingCode" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.ServicingCodeLevelValueWorker, Cwc.Contracts" />
    <add key="LocationGroup" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.LocationGroupLevelValueWorker, Cwc.Contracts" />
    <add key="CashPointType" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.CashPointTypeLevelValueWorker, Cwc.Contracts" />
    <add key="ProcessingReasonCode" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.ProcessingReasonCodeLevelValueWorker, Cwc.Contracts" />
    <add key="ContainerType" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.ContainerTypeLevelValueWorker, Cwc.Contracts" />
    <add key="ProductGroup" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.ProductGroupLevelValueWorker, Cwc.Contracts" />
    <add key="WeekdayName" value="Cwc.Contracts.Classes.PriceRuleLevelValueWorkers.WeekdayNameLevelValueWorker, Cwc.Contracts" />
    <add key="SolutionCode" value="Cwc.CallManagement.Classes.PriceRuleLevelValueWorkers.SolutionCodeLevelValueWorker, Cwc.CallManagement" />
  </Cwc.PriceLevelSettings>
  <Cwc.CashCenter.Mapper>
    <add key="OrderHandlingAction" value="Cwc.CashCenter.Services.OrderHandlingDependencies.OrderHandlingDependenciesService, Cwc.CashCenter" />
  </Cwc.CashCenter.Mapper>
  <Cwc.CashPoint.Services>
    <add key="PosReconciliationPeriodService" value="Cwc.CashPoint.Services.Impl.PosReconciliationPeriodService, Cwc.CashPoint" />
    <add key="CashPointService" value="Cwc.Coin.CoinMachineService, Cwc.Coin" />
  </Cwc.CashPoint.Services>
  <Cwc.Ordering.CallSyncMapper>
    <add key="CallSyncAction" value="Cwc.CallManagement.CallService, Cwc.CallManagement" />
  </Cwc.Ordering.CallSyncMapper>
  <Cwc.CallExport.Mapper>
    <add key="CallExportCompanySettingsAction" value="Cwc.CallExport.Services.Impl.CallExportCompanySettingsService, Cwc.CallExport" />
    <add key="CallExportLogCallLinkAction" value="Cwc.CallExport.Services.Impl.CallExportLogCallLinkService, Cwc.CallExport" />
  </Cwc.CallExport.Mapper>
  <Cwc.CallManagement.Mapper>
    <add key="CallAction" value="Cwc.CallManagement.CallService, Cwc.CallManagement" />
  </Cwc.CallManagement.Mapper>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceFeedingsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:32364/WebServiceFeedings.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceFeedingsSoap" contract="WebServiceFeedings.WebServiceFeedingsSoap" name="WebServiceFeedingsSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow></configuration>
